[submodule "BezdarEngine/vendor/vcpkg"]
	path = BezdarEngine/vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "BezdarEngine/vendor/imgui"]
	path = BezdarEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
